<div class="default-margin" align="center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">
    Your application was successfully submitted.
  </p>
  <hr class="my-4">
  <p>
    Any Questions? <a href="">Contact Kathleen</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="<%= show_dash_path %>" role="button">Continue to homepage</a>
  </p>
</div>