<h1 style="margin: 30px;">New Report</h1>
<p id="notice"><%= notice %></p>

<div style="margin: 30px;">
<%= render 'form', mercyhome: @mercyhome, mercyroom: @mercyroom, report: @report, rList: @roomList %>

<%= link_to 'Back to Calendar', calendar_path %>

</div>
